.sub-tr-word {
  position: relative;
  display: inline-block;
  pointer-events: auto;
}

.sub-tr-processed-word {
  filter: blur(0.2em);
  background-color: rgb(255, 255, 255);
  border-radius: 0.4em;
  transform: scale(0.9, 0.6);
  transform-origin: center center;
  transition: all .1s ease-in;
}

.sub-tr-reveal {
  opacity: 1;
  transform: none;
  filter: none;
  box-shadow: none;
  background-color: transparent;
}