.sub-tr-popup {
  position: fixed;
  overscroll-behavior: contain;
  z-index: 100000;
  scrollbar-color: auto;
}
::-webkit-scrollbar {
  width: 14px;
  height: 14px;
  margin-right: 4px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
}

.sub-tr-popup-container {
  overflow-y: scroll;
  overscroll-behavior: contain;
  background: rgba(35, 35, 38, 0.95);
  border: 1px solid #ffffff1c;
  border-radius: 10px;
  box-shadow: 0 12px 12px #00000047;
}

.sub-tr-popup-content {
  padding: 16px;
  font-size: 16px;
  animation: fadeIn 100ms ease-in-out forwards;
}

.sub-tr-dict-item-text {
  font-weight: bolder;
}

.sub-tr-dict-item-ts {
  color: #b7b7b7;
}

.sub-tr-dict-item-pos {
  color: #50b772;
}

.sub-tr-dict-meaning {
  padding-left: 20px;
  margin-top: 8px;
  margin-bottom: 20px;
}

.sub-tr-dict-meaning-item {
  padding: 2px 4px;
  word-break: break-all;
}

.sub-tr-loading {
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  opacity: 0;
  animation: fadeIn 200ms ease-in-out forwards;
  animation-delay: 200ms;
}

.sub-tr-icon {
  z-index: 1;
  fill: transparent;
  cursor: default;
  width: 14px;
  height: 14px;
  transition: all .2s;
  position: absolute;
  top: 10px;
  right: 14px;
  fill-rule: evenodd;
}

.sub-tr-close-icon {
  top: 10px;
  right: 14px;
}

.sub-tr-settings-icon {
  top: 10px;
  right: 14px;
  fill: #eeeeee87;
}


.sub-tr-popup:hover .sub-tr-close-icon {
  fill: #eeeeee87;
}

.sub-tr-popup:hover .sub-tr-icon:hover {
  fill: #eeeeee;
}

.sub-tr-popup:hover .sub-tr-settings-icon {
  top: 34px;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  --_c: no-repeat radial-gradient(farthest-side, #aaa 92%, #0000);
  background:
    var(--_c) top,
    var(--_c) left,
    var(--_c) right,
    var(--_c) bottom;
  background-size: 12px 12px;
  animation: l7 1s infinite;
}
@keyframes l7 {to{transform: rotate(.5turn)}}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

